/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
colors used
text color: black;
primary-background-color: lightgray;
*/

html body {
  /* primary color and font for the body */
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  color: black;
  background-color: lightgray;
  line-height: 1.6;
}

h1 {
  font-size: 24px;
  font-weight: 700px;
}

h2 {
  font-size: 20px;
  font-weight: 700px;
}

h3 {
  font-size: 18px;
  font-weight: 700px;
}

:active {
  color: blue;
}

.button-class {
  background-color: #2240aa;
  color: black;
  font-size: 40px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
          box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
  padding: 16px 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 6px 6px;
  width: 600px;
  height: 100px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* effect applied to all buttons */
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.pokedex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pokemon-list {
  list-style-type: none;
}

@media screen and (min-width: 560px) and (max-width: 700px) {
  .button-class {
    font-size: 30px;
    width: 450px;
    height: 80px;
  }
}

@media screen and (min-width: 0) and (max-width: 560px) {
  .button-class {
    font-size: 20px;
    width: 250px;
    height: 70px;
  }
}
