/*
colors used
text color: black;
primary-background-color: lightgray;
*/

:root {
  --heading-weight: 700px;
  --font-size: 16px;
  --media-font: 12px;
  --media-h1: 18px;
  --media-h2: 16px;
  --media-h3: 14px;
  --p-weight: 400px;
}

* {
  box-sizing: border-box;
}

html body {
  /* primary color and font for the body */
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--p-weight);
  font-size: var(--font-size);
  color: black;
  background-color: lightgray;
  line-height: 1.6;
}

h1 {
  font-size: 24px;
  font-weight: var(--heading-weight);
}

h2 {
  font-size: 20px;
  font-weight: var(--heading-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--heading-weight);
}

.button-class {
  background-color: red;
  color: white;
  font-size: 40px;
  text-decoration: none;
  border: 5px solid black;
  border-radius: 20px;
  padding: 16px 32px;
  display: inline-flex;
  margin: 6px 6px;
  width: 600px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* effect applied to all buttons */
  cursor: pointer;
  opacity: 0.6;
}

.pokedex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokemon-list {
  list-style-type: none;
}

@media screen and (min-width: 560px) and (max-width: 700px) {
  .button-class {
    font-size: 30px;
    width: 450px;
  }
}

@media screen and (min-width: 0) and (max-width: 560px) {
  .button-class {
    font-size: 20px;
    width: 250px;
  }
}
